@media only screen and (min-width: 1440px) {

    .nav_man a:hover{
        color: red; text-decoration:underline;
    }
    
    .card a:hover{
        animation-name: a;
        animation-duration: 1s;
        text-decoration: underline;
    }
    
    @keyframes a {
        from {
            padding-left: 0px;
        }
    
        to {
            padding-left: 20px;
        }
    }
    
    .card {
        transform: scale(0.95);
    }
    
    .card:hover {
        transition: 1s;
        transform: scale(1.0);
    }
}